<%- include('../../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Decryption Result</h1>
            <p><em>Decrypted using <strong>DES</strong></em></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Plaintext
                    <button class="btn btn-primary btn-sm" id="copy-plaintext" style="float: right;">Copy</button>
                </div>
                <div class="card-body">
                    <div id="plaintext">
                        <%= des.ptxt%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Ciphertext
                    <button class="btn btn-primary btn-sm" id="copy-ciphertext" style="float: right;">Copy</button>
                </div>
                <div class="card-body">
                    <div id="ciphertext">
                        <%= des.ctxt%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="table-container">
                <table class="table table-striped border">
                    <thead>
                        <tr>
                            <th scope="col">Round Number</th>
                            <th scope="col">Subkey</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i< 8; i++){ %>
                        <tr>
                            <td>Round <%= i+1%> </td>
                            <td><%= des.subkeys[i]%></td>
                        </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="table-container" style="float: right;">
                <table class="table table-striped border">
                    <thead>
                        <tr>
                            <th scope="col">Round Number</th>
                            <th scope="col">Subkey</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=8; i< 16; i++){ %>
                        <tr>
                            <td>Round <%= i+1%> </td>
                            <td><%= des.subkeys[i]%></td>
                        </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/clickToCopy.js"></script>


<%- include('../../partials/footer') %>