<%- include('partials/header') %>
    <% console.log(des) %>
    <table>
        <thead>
            <th>Round</th>
            <th>SubKey</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    des.subkeys.forEach(function(subkey){

    });

    <h4><%= des.subkeys%></h4>
    <h4><%= des.ptxt%></h4>
    <h4><%= des.ctxt%></h4>

<%- include('partials/footer') %>
