<%- include('../partials/header')%>
    <% console.log(des.delta); %>
    <div class="container">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Avalanche Effect Demo</h1>
                
            </div>
        </div>

        <% if(des.ptxt1){ %>
            <div class="card">
                <div class="card-header">
                    <h5>Plaintext1</h5>
                </div>
                <div class="card-body">
                    <h5><%= des.ptxt1 %></h5>
                </div>
            </div>
        <% } %>

        <% if(des.ptxt2){ %>
            <div class="card">
                <div class="card-header">
                    <h5>Plaintext2</h5>
                </div>
                <div class="card-body">
                    <h5><%= des.ptxt2 %></h5>
                </div>
            </div>
        <% } %>
        
        <% if(des.ptxt){ %>
            <div class="card">
                <div class="card-header">
                    <h5>Plaintext</h5>
                </div>
                <div class="card-body">
                    <h5><%= des.ptxt %></h5>
                </div>
            </div>
        <% } %>

        <% if(des.key){ %>
            <div class="card">
                <div class="card-header">
                    <h5>Key</h5>
                </div>
                <div class="card-body">
                    <h5><%= des.key %></h5>
                </div>
            </div>
        <% } %>

        <% if(des.key1){ %>
            <div class="card">
                <div class="card-header">
                    <h5>Key1</h5>
                </div>
                <div class="card-body">
                    <h5><%= des.key1 %></h5>
                </div>
            </div>
        <% } %>

        <% if(des.key2){ %>
            <div class="card">
                <div class="card-header">
                    <h5>Key2</h5>
                </div>
                <div class="card-body">
                    <h5><%= des.key2 %></h5>
                </div>
            </div>
        <% } %>

        <div class="card">
            <div class="card-header">
                <h5>Ciphertext1</h5>
            </div>
            <div class="card-body">
                <h5><%= des.ctxt1 %></h5>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Ciphertext2</h5>
            </div>
            <div class="card-body">
                <h5><%= des.ctxt2 %></h5>
            </div>
        </div>

        
        <div class="card">
            <div class="card-header">
                <h5>Plot</h5> 
            </div>
            <div class="card-body">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
      

        <div class="row">
            <div class="col-md-6">
                <div class="table-container">
                    <table class="table table-striped border">
                        <thead>
                            <tr>
                                <th scope="col">Round Number</th>
                                <th scope="col">Ciphertexts</th>
                                <th scope="col">Delta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=1; i<= Math.floor((des.delta.length)/2); i++){ %>
                                <tr>
                                    <td>Round <%= i%> </td>
                                    <td>
                                        <p>
                                            <%= des.round1[i]%>
                                        </p>
                                        <p>
                                            <%= des.round2[i]%>
                                        </p>
                                    </td>
                                    <td> <%= des.delta[i].y %> </td>
                                </tr>
                            <% }; %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="table-container" style="float: right;">
                    <table class="table table-striped border">
                        <thead>
                            <tr>
                                <th scope="col">Round Number</th>
                                <th scope="col">Ciphertexts</th>
                                <th scope="col">Delta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=Math.floor((des.delta.length)/2)+1; i< (des.delta.length); i++){ %>
                                <tr>
                                    <td>Round <%= i%> </td>
                                    <td>
                                        <p>
                                            <%= des.round1[i]%>
                                        </p>
                                        <p>
                                            <%= des.round2[i]%>
                                        </p>
                                    </td>
                                    <td><%= des.delta[i].y %></td>
                                </tr>
                            <% }; %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>

        var e = <%- JSON.stringify(des) %>;
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Avalanche Demo"
            },
            axisY: {
                includeZero: false,
                title: "Delta"
            },
            axisX: {
                title: "Round Number"
            },
            data: [{
                type: "line",
                indexLabelFontSize: 16,
                dataPoints: e.delta
            }]
        });
        chart.render();
    </script>

<%- include('../partials/footer')%>